<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    <h2>{{ 'Manage_Wallet' | translate }}</h2>

    <div class="uk-card uk-card-default uk-margin" *ngIf="!walletService.isLedgerWallet()">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{ 'Change_Wallet_Password' | translate }}</h3>
      </div>
      <div class="uk-card-body">
        <div uk-grid>
          <div class="uk-width-1-2@s">
            <input class="uk-input" [(ngModel)]="newPassword" placeholder="New Password" type="password">
          </div>
          <div class="uk-width-1-2@s">
            <input class="uk-input" [(ngModel)]="confirmPassword" placeholder="Confirm New Password" type="password">
          </div>
        </div>
      </div>
      <div class="uk-card-footer uk-text-right">
        <button (click)="changePassword()" class="uk-button uk-button-secondary">{{ 'Update_Password' | translate }}</button>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin" *ngIf="!walletService.isLedgerWallet()">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{ 'Backup_Wallet' | translate }}</h3>
      </div>
      <div class="uk-card-body">
        <p *ngIf="wallet.locked">
          {{ 'backup_unlock_wallet' | translate }}
        </p>
        <p *ngIf="!wallet.locked">
          {{ 'to_backup_mnemonic_clipboard' | translate }} <a title="Copy Mnemonic To Clipboard" ngxClipboard [cbContent]="seedMnemonic()" (cbOnSuccess)="notifications.sendSuccess('Wallet mnemonic copied to clipboard!')" uk-tooltip>{{ 'Click_here' | translate }}</a><br>
          <br>
          {{ 'to_backup_seed_clipboard' | translate }} <a title="Copy Seed To Clipboard" ngxClipboard [cbContent]="wallet.seed" (cbOnSuccess)="notifications.sendSuccess('Wallet seed copied to clipboard!')" uk-tooltip>{{ 'Click_here' | translate }}</a><br>
        </p>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin" *ngIf="!walletService.isLedgerWallet()">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{ 'Export_NanoVault_Wallet' | translate }}</h3>
      </div>
      <div class="uk-card-body">
        {{ 'use_this_simplify_transfer' | translate }} 
        {{ 'data_encrypted_and_imported' | translate }}
        {{ 'export_no_address_book' | translate }}<br>
        <div *ngIf="showQRExport" uk-grid>
          <div class="uk-width-1-1">
            <hr class="uk-divider-icon">
          </div>

          <div class="uk-width-1-2@s uk-width-1-4@m">
            <img [src]="QRExportImg">
          </div>
          <div class="uk-width-1-2@s uk-width-3-4@m">
            {{ 'scan_qr_to_load_wallet' | translate }}<br>
            <br>
            {{ 'if_no_qr_scanner_import_url' | translate }}<br>
            <input type="text" class="uk-input" value="{{ QRExportUrl }}"><br>
            <a title="Copy Export URL To Clipboard" ngxClipboard [cbContent]="QRExportUrl" (cbOnSuccess)="notifications.sendSuccess('Wallet export copied to clipboard!')" uk-tooltip>{{ 'Copy_to_clipboard' | translate }}</a>
          </div>
        </div>
      </div>
      <div class="uk-card-footer uk-text-right">
        <button (click)="exportToFile()" class="uk-button uk-button-secondary">{{ 'Export_As_File' | translate }}</button>
        <button (click)="exportWallet()" class="uk-button uk-button-secondary">{{ 'Export_QR_Code' | translate }}</button>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{ 'Address_Book' | translate }}</h3>
      </div>
      <div class="uk-card-body">
        {{ 'use_this_transfer_address_book' | translate }} 
        {{ 'use_options_import_export_address_book' | translate }}
        {{ 'address_book_not_encrypted' | translate }}
        <div *ngIf="addressBookShowQRExport" uk-grid>
          <div class="uk-width-1-1">
            <hr class="uk-divider-icon">
          </div>

          <div class="uk-width-1-2@s uk-width-1-4@m">
            <img [src]="addressBookQRExportImg">
          </div>
          <div class="uk-width-1-2@s uk-width-3-4@m">
            {{ 'scan_qr_to_load_address_book' | translate }}<br>
            <br>
            {{ 'if_no_qr_scanner_import_address_book_url' | translate }}<br>
            <input type="text" class="uk-input" value="{{ addressBookQRExportUrl }}"><br>
            <a title="Copy Export URL To Clipboard" ngxClipboard [cbContent]="addressBookQRExportUrl" (cbOnSuccess)="notifications.sendSuccess('Address book export copied to clipboard!')" uk-tooltip>{{ 'Copy_to_clipboard' | translate }}</a>
          </div>
        </div>
      </div>
      <div class="uk-card-footer uk-text-right">
        <div class="js-upload uk-text-left" style="display: inline-block;" uk-form-custom>
          <input type="file" id="import-from-file" (change)="importFromFile($event.target.files)" multiple>
          <button class="uk-button uk-button-primary" type="button" tabindex="-1">{{ 'Import_Address_Book' | translate }}</button>
        </div>
        <button (click)="exportAddressBookToFile()" class="uk-button uk-button-secondary">{{ 'Export_As_File' | translate }}</button>
        <button (click)="exportAddressBook()" class="uk-button uk-button-secondary">{{ 'Export_QR_Code' | translate }}</button>
      </div>
    </div>

  </div>
</div>
