<div uk-grid>
  <div class="uk-width-1-1 uk-animation-slide-left-small">
    <div uk-grid class="uk-text-center" style="margin-bottom: 90px;">
      <div class="uk-width-1-1" style="margin-top: 45px;">
        <h2>{{ 'welcome_to_vault' | translate }}</h2>
        <span class="uk-text-lead" [innerHTML]="'the_no_strings_attached_wallet' | translate"></span><br>
      </div>
      <div class="uk-width-1-1" *ngIf="!wallet.seed">
        <div uk-grid>
          <div class="uk-width-1-1" style="margin-top: 60px;">
            <span class="uk-text-small">{{ 'choose_option_configure_wallet' | translate }}</span>
          </div>
          <div class="uk-width-1-2@m">
            <button routerLink="/configure-wallet" class="uk-button uk-button-primary uk-button-large">{{ 'create_wallet' | translate }}</button>
          </div>
          <div class="uk-width-1-2@m">
            <button routerLink="/configure-wallet" [queryParams]="{ import: 1}" class="uk-button uk-button-primary uk-button-large">{{ 'import_wallet' | translate }}</button>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1" *ngIf="wallet.seed">
        <div uk-grid>
          <div class="uk-width-1-1" style="margin-top: 60px;">
            <span class="uk-text-small">{{ 'welcome_back' | translate }} {{ 'wallet_already_configured' | translate }}</span>
          </div>
          <div class="uk-width-1-1@m">
            <button routerLink="/accounts" class="uk-button uk-button-primary uk-button-large">{{ 'View_My_Accounts' | translate }}</button>
          </div>
        </div>
      </div>
    </div>

    <div uk-grid class="uk-margin-top">

      <div class="uk-width-1-1@m">
        <div class="uk-card uk-card-default uk-card-small">
          <div class="uk-card-body">

            <ul uk-accordion="">
              <li class="uk-open">

                <a class="uk-accordion-title uk-link-text" href="#">{{ 'Why_Use_NinjaVault' | translate }}</a>
                <div class="uk-accordion-content">
                  <!--NanoVault is an open source web wallet which makes it incredibly easy to send and receive <a href="https://nano.org" target="_blank">Nano</a> from anywhere in the world.<br>-->

                  <dl class="uk-description-list">
                    <dt>{{ 'my_nano_ninja_header' | translate }}</dt>
                    <dd>{{ 'my_nano_ninja_text' | translate }}</dd>
                    <dt>{{ 'security_header' | translate }}</dt>
                    <dd>{{ 'security_text' | translate }}</dd>
                    <dt>{{ 'no_strings_attached_header' | translate }}</dt>
                    <dd>{{ 'no_strings_attached_text' | translate }}</dd>
                    <dt>{{ 'any_device_header' | translate }}</dt>
                    <dd>{{ 'any_device_text' | translate }}</dd>
                    <dt>{{ 'helpful_features_header' | translate }}</dt>
                    <dd>{{ 'helpful_features_text' | translate }}</dd>
                  </dl>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1">

        <hr class="uk-divider-icon">

        <div class="uk-card uk-card-small uk-card-default uk-margin uk-width-1-1">
          <div class="uk-card-body uk-text-center">
            NanoVault is open source and all code is available at <a href="https://github.com/BitDesert/nanovault" target="_blank">https://github.com/BitDesert/nanovault</a>.<br>
            Please submit any feedback or bug reports on our GitHub page.  Thank you for using NanoVault!
          </div>
        </div>

        <div class="uk-width-1-1">
          <div class="uk-text-center uk-alert uk-alert-primary" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <strong>Don't have any Nano, but want to see how quick and easy it is to use?</strong><br>
            Use the <a href="https://nanofaucet.org/" target="_blank">Nano Faucet</a> with your NanoVault account to get going instantly!
          </div>
        </div>

        <div class="uk-text-center uk-text-small uk-text-truncate">
          Donation Address: <a [routerLink]="'/send'" [queryParams]="{ to: donationAccount }">{{ donationAccount }}</a>
        </div>
      </div>
    </div>
  </div>
</div>


