<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    <h2>{{ 'Transaction_Details' | translate }}</h2>

    <div class="uk-alert uk-alert-primary" *ngIf="!transaction">
      {{ 'Unable_to_load_the_transaction' | translate }}
    </div>

    <div class="uk-width-1-1" *ngIf="transaction">
      <div class="uk-card uk-card-default uk-width-1-1 uk-text-center" *ngIf="blockType !== 'change'">
        <span style="display: block; padding-top: 8px;">
          <span *ngIf="blockType == 'send'">{{ 'send' | translate }}</span>
          <span *ngIf="blockType == 'open'">{{ 'receive' | translate }}</span>
          <span *ngIf="blockType == 'receive'">{{ 'receive' | translate }}</span>
        </span>
        <span style="display:block; font-size: 32px;">{{ transaction?.amount | rai: settings.settings.displayDenomination }}</span>
        <span *ngIf="amountRaw.gt(0)" style="display:block; font-size: 12px;">+{{ amountRaw.toString(10) }} raw</span>
      </div>
      <div class="uk-card uk-card-default uk-width-1-1 uk-text-center" *ngIf="blockType == 'change'">
        <span style="display:block; font-size: 32px;">{{ 'Change_Representative' | translate }}</span>
      </div>
      <br>
      <div uk-grid>
        <div class="uk-width-1-2@s">
          <div class="uk-card uk-card-default">

            <div class="uk-card-header uk-text-truncate" style="padding: 20px 20px;">

              <span class="confirm-title">
                <a [routerLink]="'/account/' + fromAccountID" class="uk-link-reset" uk-tooltip title="View Account Details">
                  <span class="uk-label" *ngIf="fromAddressBook">{{ fromAddressBook }}</span> {{ fromAccountID }}
                </a>
              </span>
              <span class="confirm-subtitle" *ngIf="blockType != 'change'">{{ 'From_Account' | translate }}</span>
              <span class="confirm-subtitle" *ngIf="blockType == 'change'">{{ 'Account' | translate }}</span>
            </div>
          </div>
        </div>
        <div class="uk-width-1-2@s">
          <div class="uk-card uk-card-default">
            <div class="uk-card-header uk-text-truncate" style="padding: 20px 20px;">
              <span class="confirm-title">
                <a [routerLink]="'/account/' + toAccountID" class="uk-link-reset" uk-tooltip title="View Account Details">
                  <span class="uk-label" *ngIf="toAddressBook">{{ toAddressBook }}</span> {{ toAccountID }}
                </a>
              </span>
              <span class="confirm-subtitle" *ngIf="blockType != 'change'">{{ 'To_Account' | translate }}</span>
              <span class="confirm-subtitle" *ngIf="blockType == 'change'">{{ 'New_Representative' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin" *ngIf="transaction">
      <div class="uk-card-body uk-padding-small uk-form-horizontal">

        <div class="uk-margin">
          <label class="uk-form-label">{{ 'Block' | translate }}:</label>
          <div class="uk-form-controls uk-text-truncate">
            {{ hashID }}
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label">{{ 'Type' | translate }}:</label>
          <div class="uk-form-controls uk-text-truncate">
            {{ transaction?.contents?.type }}
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label">{{ 'Date' | translate }}:</label>
          <div class="uk-form-controls uk-text-truncate">
            <span *ngIf="transaction.timestamp">{{ transaction?.timestamp | date: 'short' }}</span>
            <span *ngIf="!transaction.timestamp" class="uk-text-muted">N/A</span>
          </div>
        </div>
        <div class="uk-margin" *ngIf="transaction?.contents?.balance">
          <label class="uk-form-label">{{ 'Balance' | translate }}:</label>
          <div class="uk-form-controls uk-text-truncate">
            {{ (isStateBlock ? getBalanceFromDec(transaction?.contents?.balance) : getBalanceFromHex(transaction?.contents?.balance)) | rai: settings.settings.displayDenomination }}<br>
            <span class="uk-text-small">{{ transaction?.contents?.balance }}</span>
          </div>
        </div>
        <div class="uk-margin" *ngIf="transaction?.contents?.representative">
          <label class="uk-form-label">{{ 'representative' | translate }}:</label>
          <div class="uk-form-controls uk-text-truncate">
            <a [routerLink]="'/account/' + transaction?.contents?.representative" class="uk-link-text" uk-tooltip title="View Account Details">{{ transaction?.contents?.representative }}</a>
          </div>
        </div>
        <div class="uk-margin" *ngIf="transaction?.contents?.previous">
          <label class="uk-form-label">{{ 'Previous' | translate }}:</label>
          <div class="uk-form-controls uk-text-truncate">
            <a [routerLink]="'/transaction/' + transaction?.contents?.previous" class="uk-link-text" uk-tooltip title="View Block Details">{{ transaction?.contents?.previous }}</a>
          </div>
        </div>
        <div class="uk-margin" *ngIf="transaction?.contents?.source">
          <label class="uk-form-label">{{ 'Source' | translate }}:</label>
          <div class="uk-form-controls uk-text-truncate">
            <a [routerLink]="'/transaction/' + transaction?.contents?.source" class="uk-link-text" uk-tooltip title="View Block Details">{{ transaction?.contents?.source }}</a>
          </div>
        </div>
        <div class="uk-margin" *ngIf="transaction?.contents?.link && blockType == 'receive'">
          <label class="uk-form-label">{{ 'Link_Source' | translate }}:</label>
          <div class="uk-form-controls uk-text-truncate">
            <a [routerLink]="'/transaction/' + transaction?.contents?.link" class="uk-link-text" uk-tooltip title="View Block Details">{{ transaction?.contents?.link }}</a>
          </div>
        </div>
        <div class="uk-margin" *ngIf="transaction?.contents?.link_as_account && blockType == 'send'">
          <label class="uk-form-label">{{ 'Link_Destination' | translate }}:</label>
          <div class="uk-form-controls uk-text-truncate">
            <a [routerLink]="'/account/' + transaction?.contents?.link_as_account" class="uk-link-text" uk-tooltip title="View Account Details">{{ transaction?.contents?.link_as_account }}</a>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label">{{ 'Work' | translate }}:</label>
          <div class="uk-form-controls uk-text-truncate">
            {{ transaction?.contents?.work }}
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label">{{ 'Signature' | translate }}:</label>
          <div class="uk-form-controls uk-text-small uk-text-truncate">
            {{ transaction?.contents?.signature }}
          </div>
        </div>

      </div>
    </div>

    <div uk-grid>
      <div class="uk-width-1-1 uk-text-center">
        <a (click)="showBlockData = !showBlockData" class="uk-link-text">{{ showBlockData ? 'Hide' : 'Show' }} Block Data</a>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin" *ngIf="transaction && transactionJSON && showBlockData">
      <div class="uk-card-header">
        {{ 'Raw_Block_Data' | translate }}
      </div>
      <div class="uk-card-body uk-padding-small uk-form-horizontal">
        <pre><code>{{ transactionJSON }}</code></pre>
      </div>
    </div>

  </div>
</div>
